@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap');


:root {
  /* ----- Colors ----- */
  
  --light-blue: hsl(179deg, 80%, 58%);
  --dark-blue: hsl(206deg, 84%, 22%);
  --gray: hsl(225deg, 14%, 53%);
  --white: hsl(0deg, 0%, 100%);
  --navy-blue: hsl(230deg, 60%, 8%);
  --red: hsl(343deg, 100%, 58%);

  /* ----- Typography ----- */

  /* Font Size */
  --h1-fs: 3.2rem;
  --h2-fs: 2.667rem;
  --h3-fs: 2.133rem;
  --h4-fs: 1.2rem;

  /* Line Height */
  --h1-lh: 3.733rem;
  --h2-lh: 3.667rem;
  --h3-lh: 2.933rem;
  --h4-hl: 1.667rem;
  --p-lh: 1.667rem;
}

/* ----- Resets ----- */

*,*::before,*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* ----- Typography ----- */

html {
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  background-color: var(--navy-blue);
}

h1, h2, h3, h4 {
  color: var(--white);
  font-weight: 800;
}

h1 {
  font-size: var(--h1-fs);
  line-height: var(--h1-lh);
}

h2 {
  font-size: var(--h2-fs);
  line-height: var(--h2-lh);
}

h3 {
  font-size: var(--h3-fs);
  line-height: var(--h3-lh);
}

h4 {
  font-size: var(--h4-fs);
  line-height: var(--h4-lh);
}

p {
  color: var(--gray);
  line-height: var(--p-lh);
}

/* ----- Global ----- */

img { max-width: 100%; }

/* ----- Utilities ----- */

.container {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
}

.row { display: flex; }

.center-content { justify-content: center; }

.text-center { text-align: center; }

span { color: var(--light-blue); }

/* ----- Header ----- */

header { overflow: hidden; }

.company_name_container {
  margin-top: 2.667em;
  margin-bottom: 4.36em;
}

.bg_img_left_container,
.bg_img_right_container { display: none; }

.header_text_container {
  background-image: url(./assets/bg-hero-squiggle.svg);
  background-size: cover;
  margin-top: 3.16em;
}

.header_text_container p,
.header_text_container img { margin-top: 1.5em; }

/* ----- Pointers section ----- */

.pointers {
  display: grid;
  justify-content: center;
  align-content: center;
  margin-top: 9.6em;
}

.pointers-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8.26em;
  height: 8.27em;
  background-color: var(--dark-blue);
  border-radius: 3em;
  margin: 0 auto;
}

.pointers--icon {
  width: 60%;
  height: auto;
}

.pointers--heading { margin: 2.13em 0 0.73em 0; }

.pointers--description { margin-bottom: 3.73em; }

/* ----- Pricing Section ----- */

.pricing {
  flex-direction: column;
  align-items: center;
}

.pricing__heading { margin-top: 4.8em; }

.pricing__description { margin-top: 1.8em; }

.pricing-container {
  position: relative;
  margin-top: 3.73em;
  width: 21.8em;
  border-radius: 0.53em;
}

.pricing-container--free { background-color: var(--dark-blue); }

.pricing-container--paid {
  background-color: var(--light-blue);
  margin-top: 4.26em;
}

.icon-free {
  position: absolute;
  top: -5%;
  left: 17%;
}

.icon-paid {
  position: absolute;
  top: -8%;
  left: 17%;
}

.pricing-text-container {
  width: 90%;
  padding-left: 3em;
  padding-top: 3.27em;
}

.pricing-text-container h4 {
  margin-bottom: 1.27em;
}

.pricing-text-container p {
  margin-bottom: 1.73em;
}

.pricing__pointers {
  list-style: none;
  margin-top: 1.26em;
}

.pricing__pointers--free { color: var(--white); }

.pricing__pointers--paid { color: var(--navy-blue); }

.pricing-text-container--paid h2,
.pricing-text-container--paid h4,
.pricing-text-container--paid p { color: var(--navy-blue); }

.pricing__pointers--points { margin-bottom: 0.8em; }

.pricing__pointers--points:last-child {
  margin: 0;
  padding-bottom: 2.13em;
}

.pricing__pointers--checkmark { margin-right: 1.02em; }

.month {
  color: var(--navy-blue);
  vertical-align: middle;
  margin-left: 0.5em;
}

.paid--fee { align-items: center; }

/* ----- Footer ----- */

.footer {
  background-image: url(./assets/bg-footer-squiggle.svg);
  background-size: cover;
  width: 100%;
  margin-top: 7.93em;
  margin-bottom: 10.93em;
}

/* ----- Signup Form ----- */

form {
  flex-direction: column;
  align-items: center;
}

form input {
  background-color: var(--dark-blue);
  color: var(--white);
  border: none;
  width: 21.33em;
  height: 3.2em;
  border-radius: 1.6em;
  text-indent: 1.2em;
  margin: 2.06em 0 1.6em 0;
}

.btn {
  cursor: pointer;
  width: 21.33em;
  height: 3.2em;
  font-weight: 800;
  background-color: var(--light-blue);
  color: var(--dark-blue);
  border: 2px solid var(--light-blue);
  border-radius: 1.6em;
  transition: border 0.4s, background-color 0.4s, color 0.4s;
}

.btn:hover {
  border: 2px solid var(--light-blue);
  background-color: var(--navy-blue);
  color: var(--white);
}

.success {
  display: none;
  color: var(--light-blue);
  margin-top: 0.26em;
}

.warn {
  display: none;
  margin-top: 0.26em;
  color: var(--red);
}

/* ========================= */
/* ===== MEDIA QUERIES ===== */
/* ========================= */

/* ----- Tablet ----- */

@media (min-width: 768px) {

  html { overflow-x: hidden; }

  /* ----- Header ----- */
  .mobile_bg_img { display: none; }

  .company_name_container.center-content { justify-content: flex-start; }

  .hero__bg__container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
}

  .bg_img_left_container {
    display: block;
    direction: rtl;
  }

  .bg_img_left_container img,
  .bg_img_right_container img { max-width: 21.3em; }

  .bg_img_right_container { display: block; }

  .header_text_container { width: 100%; }

  /* ----- Pointers section ----- */

  .pointers__container { flex-direction: column; }

  .pointer {
    display: flex;
    align-items: center;
  }

  .pointer:nth-child(odd) { margin-left: 3.86em; }

  .pointers-icon-container {
    margin-right: 3.66em;
    height: 8.5em;
    width: 12em;
  }

  .pointer__text { text-align: left; }

  /* ----- Signup Form ----- */

  form {
    flex-direction: row;
    justify-content: center;
    margin-top: 2.8em;
    gap: 1.06em;
  }

  form input { margin: 0; }

  .btn { width: 9.33em; }
}

/* ----- Desktop ----- */
@media (min-width: 1440px) {

  /* ----- Header section ----- */
  .header_text_container { width: 60%; }

  /* ----- Pointers section ----- */

  .pointers__container {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }

  .pointer {
    flex-direction: column;
    align-items: flex-start;
  }

  .pointers-icon-container {
    margin: 0;
    height: 10.66em;
    width: 10.93em;
  }

  .pointer:nth-child(odd) { margin: 0; }

  .pointer:nth-child(even) { margin-top: 3.86em; }

  /* ----- Pricing section ----- */

  .pricing__header__container { width: 40%; }

  .pricing__options__container {
    display: flex;
    gap: 2em;
  }

  .pricing-container {
    display: flex;
    margin-top: 4.8em;
    width: 29.66em;
  }

  .pricing-container--paid { margin-top: 3.81rem; }

  /* ----- Signup Form ----- */

  form {
    flex-direction: row;
    justify-content: center;
    margin-top: 2.8em;
    gap: 1.06em;
  }

  form input { margin: 0; }
}